
.bx {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccd4db;
}
.field_error{
    color: red !important;
}
.close-icon {
    position: absolute !important;
    right: 0%;
    top: 0%;
    color: red !important;
}

.form-bx {
    display: flex;
    width: 65%;
    background: white;
    margin: 5rem auto;
    border-radius: 10px;
    box-shadow: RGB(0 0 0 / 25%) 0px 14px 28px, RGB(0 0 0 / 22%) 0px 10px 10px;
}

.MuiTextField-root {
    width: 100%;
}
.mb-rem{
    margin-bottom: 1rem;
    position: relative;
}
.MuiTextField-root:last-child {
    width: 100%;
}

.form-control{
    width:100%;
    border:2px solid #aaa;
    border-radius:4px;
    margin:5px 0;
    outline:none;
    padding:15px;
    box-sizing:border-box;
    transition:.3s;
}
.form-control:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 4px 0 dodgerBlue;
  }
.left_bx {
    padding: 2rem;
    width: 50%;
}

.right_bx {
    width: 50%;
    background: url("./login.jpg")no-repeat;
    background-size: cover;
    opacity: .8;
}
#submt{
    width: 40%;
}
@media (max-width:576px) {
   
    .left_bx {
        width: 100%;
        padding: 0;
    }

    .right_bx {
        display: none;
    }

    .form-bx {
        width: 95%;
        margin: 1rem;
        padding: .5rem;

    }

    .MuiTextField-root {
        margin-bottom: 2rem !important;
        width: 100%;
    }

    .css-46bh2p-MuiCardContent-root:last-child {
        padding-bottom: 0px !important;
    }

    .css-46bh2p-MuiCardContent-root {
        padding: 5px !important;
    }
    #submt{
        width: 90%;
    }
}

@media (max-width:768px) {
    .left_bx {
        width: 100%;
        padding: 1rem;
    }

    .right_bx {
        display: none;
    }
}