* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-sarif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(219, 230, 253);
}

h1 {
  font-size: 3.2rem;
  margin: 2rem 0;
  text-align: center;
}

h2 {
  font-family: 2.4rem;
}

p {
  margin: 2rem 0;
  color: rgb(21, 19,60, .5);
  font-weight: 400;
  font-size: 1.6rem;
  display: inline-block;
}

span {
  text-transform: capitalize;
  font-weight: bold;
}

.stories-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.card {
  min-width: 20rem;
  width: 40vw;
  padding: 4rem;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, .2)0px 7px 29px 0px;
  border-radius: .5rem;
  color: #15133c;
}

.card-button {
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.card-button a {
  color: #92b4ec;
  font-weight: 400;
  font-size: 1.6rem;
}

.card-button a:last-child {
  color: red;
  cursor: pointer;
}

form {
  display: grid;
  place-items: center;
}

input {
  padding: 1rem;
  min-width: 40rem;
  font-size: 2rem;
  text-transform: capitalize;
  border: none;
  outline: none;
  border-bottom: .2rem solid #15133c;
}

.pagination-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: .8rem 2.2rem;
  border: none;
  font-size: 1.6rem;
  background-color: #15133c;
  color: #fff;
  margin: 3rem;
  cursor: pointer;
  display: inline-block;
}
.stories-details-div{
  height: 100vh;
}
.stories-details-div .card{
  height: 400px;
}